@import "variables";

@font-face {
    font-family: 'icomoon';
    src:    url('#{$icomoon-font-path}/icomoon.eot?hbkqjf');
    src:    url('#{$icomoon-font-path}/icomoon.eot?hbkqjf#iefix') format('embedded-opentype'),
        url('#{$icomoon-font-path}/icomoon.ttf?hbkqjf') format('truetype'),
        url('#{$icomoon-font-path}/icomoon.woff?hbkqjf') format('woff'),
        url('#{$icomoon-font-path}/icomoon.svg?hbkqjf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook {
    &:before {
        content: $icon-facebook;
    }
}
.icon-instagram {
    &:before {
        content: $icon-instagram;
    }
}
.icon-spotify {
    &:before {
        content: $icon-spotify;
    }
}
.icon-twitter {
    &:before {
        content: $icon-twitter;
    }
}
.icon-dribbble {
    &:before {
        content: $icon-dribbble;
    }
}
.icon-github {
    &:before {
        content: $icon-github;
    }
}
.icon-linkedin {
    &:before {
        content: $icon-linkedin;
    }
}
.icon-chevron-down {
    &:before {
        content: $icon-chevron-down;
    }
}
.icon-chevron-left {
    &:before {
        content: $icon-chevron-left;
    }
}
.icon-chevron-right {
    &:before {
        content: $icon-chevron-right;
    }
}
.icon-chevron-small-down {
    &:before {
        content: $icon-chevron-small-down;
    }
}
.icon-chevron-small-left {
    &:before {
        content: $icon-chevron-small-left;
    }
}
.icon-chevron-small-right {
    &:before {
        content: $icon-chevron-small-right;
    }
}
.icon-chevron-small-up {
    &:before {
        content: $icon-chevron-small-up;
    }
}
.icon-chevron-thin-down {
    &:before {
        content: $icon-chevron-thin-down;
    }
}
.icon-chevron-thin-left {
    &:before {
        content: $icon-chevron-thin-left;
    }
}
.icon-chevron-thin-right {
    &:before {
        content: $icon-chevron-thin-right;
    }
}
.icon-chevron-thin-up {
    &:before {
        content: $icon-chevron-thin-up;
    }
}
.icon-chevron-up {
    &:before {
        content: $icon-chevron-up;
    }
}
.icon-chevron-with-circle-down {
    &:before {
        content: $icon-chevron-with-circle-down;
    }
}
.icon-chevron-with-circle-left {
    &:before {
        content: $icon-chevron-with-circle-left;
    }
}
.icon-chevron-with-circle-right {
    &:before {
        content: $icon-chevron-with-circle-right;
    }
}
.icon-chevron-with-circle-up {
    &:before {
        content: $icon-chevron-with-circle-up;
    }
}

