$icomoon-font-path: "fonts" !default;

$icon-facebook: "\e900";
$icon-instagram: "\e901";
$icon-spotify: "\e902";
$icon-twitter: "\e903";
$icon-dribbble: "\e904";
$icon-github: "\e905";
$icon-linkedin: "\e906";
$icon-chevron-down: "\e600";
$icon-chevron-left: "\e601";
$icon-chevron-right: "\e602";
$icon-chevron-small-down: "\e603";
$icon-chevron-small-left: "\e604";
$icon-chevron-small-right: "\e605";
$icon-chevron-small-up: "\e606";
$icon-chevron-thin-down: "\e607";
$icon-chevron-thin-left: "\e608";
$icon-chevron-thin-right: "\e609";
$icon-chevron-thin-up: "\e60a";
$icon-chevron-up: "\e60b";
$icon-chevron-with-circle-down: "\e60c";
$icon-chevron-with-circle-left: "\e60d";
$icon-chevron-with-circle-right: "\e60e";
$icon-chevron-with-circle-up: "\e60f";

