<div class="wrapper pure-g">
    <aside ng-if="portfolio" class="sidebar pure-u-1 pure-u-md-1-4 animated animated-medium fadeIn">
		<header class="padding-xlg text-center">
			<h1 class="app-title">
				<a ng-href="#/" class="pure-menu-heading">
					<img ng-src="assets/img/avatar.jpg" alt="{{siteInfo.name}}" class="app-photo animated animated-fast slideInDown" />
					{{siteInfo.name}}
				</a>
			</h1>
			<span class="app-description" ng-bind-html="siteInfo.description | raw"></span>
		</header>
		<nav ng-if="portfolio" class="filter pure-menu padding-xlg padding-half-v animated animated-fast slideInLeft">
			<h4 class="pure-menu-heading">Filter</h4>
		    <ul list-all-tags></ul>
		</nav>
    </aside>
    <main class="content pure-u-1 pure-u-md-3-4">
    	<div ng-view class="padding-md animated animated-medium fadeIn"></div>
    </main>
</div>