@import "partials/mixins"
@import "partials/helpers"

$brand-primary: #BA2A54
$brand-primary-light: lighten($brand-primary,10%)
$brand-primary-dark: darken($brand-primary,10%)
$brand-secondary: #1F1F1F
$brand-text: #474747

$app-photo-size: 115px
$sidebar-width: 300px

*
	font-family: PT Serif

a
	color: $brand-primary
	text-decoration: none
	&:hover
		color: $brand-primary-dark

.wrapper

	h4
		padding: 0 0 15px
		margin: 0 0 20px
		color: $brand-text
		font-weight: normal
		font-size: 11px
		letter-spacing: 1px
		border-bottom: 1px dotted #eee

	.sidebar
		background: darken(white,2%)
		position: fixed
		height: 100%
		width: $sidebar-width

		.filter
			> ul
				padding: 0
				margin: 0
				list-style-type: none

				li
					> a
						padding: 4px 0

						&:hover, &:active, &:focus
							color: $brand-secondary
							background: initial

					&.active
						> a
							color: $brand-primary

	.content
		padding-left: $sidebar-width
		width: 100%

	.app-title
		margin: 0

		> a
			padding: 15px 0
			color: $brand-secondary
			font-weight: 400
			text-transform: initial

			.app-photo
				display: block
				+square($app-photo-size)
				margin: 0 auto 20px
				border-radius: $app-photo-size
	
	.app-description
		color: #444
		font-size: 15px


	.projects
		margin: 0

		.pure-menu-item
			> a


+respond-to(both)
	.wrapper
		.sidebar
			width: 100%
			position: relative

			.filter
				display: none

		.content
			padding-left: 0