/* Type */
.text-center
	text-align: center

/* Animations */
.animated-fast
	animation-duration: 250ms
.animated-medium
	animation-duration: 500ms


/* Paddings */
$padding-sm: 10px
$padding-md: 20px
$padding-lg: 30px
$padding-xlg: 40px

.padding-sm
	padding: $padding-sm
	&.padding-v
		padding: $padding-sm 0
	&.padding-h
		padding: 0 $padding-sm
	&.padding-half-v
		padding: $padding-sm / 2 $padding-sm
	&.padding-half-h
		padding: $padding-sm $padding-sm / 2
	&.padding-r-x
		padding: $padding-sm 0 $padding-sm $padding-sm / 2
	&.padding-l-x
		padding: $padding-sm $padding-sm / 2 $padding-sm 0
		
.padding-md
	padding: $padding-md
	&.padding-v
		padding: $padding-md 0
	&.padding-h
		padding: 0 $padding-md
	&.padding-half-v
		padding: $padding-md / 2 $padding-md
	&.padding-half-h
		padding: $padding-md $padding-md / 2
	&.padding-r-x
		padding: $padding-md 0 $padding-md $padding-md / 2
	&.padding-l-x
		padding: $padding-md $padding-md / 2 $padding-md 0
		
.padding-lg
	padding: $padding-lg
	&.padding-v
		padding: $padding-lg 0
	&.padding-h
		padding: 0 $padding-lg
	&.padding-half-v
		padding: $padding-lg / 2 $padding-lg
	&.padding-half-h
		padding: $padding-lg $padding-lg / 2
	&.padding-r-x
		padding: $padding-lg 0 $padding-lg $padding-lg / 2
	&.padding-l-x
		padding: $padding-lg $padding-lg / 2 $padding-lg 0
		
.padding-xlg
	padding: $padding-xlg
	&.padding-v
		padding: $padding-xlg 0
	&.padding-h
		padding: 0 $padding-xlg
	&.padding-half-v
		padding: $padding-xlg / 2 $padding-xlg
	&.padding-half-h
		padding: $padding-xlg $padding-xlg / 2
	&.padding-r-x
		padding: $padding-xlg 0 $padding-xlg $padding-xlg / 2
	&.padding-l-x
		padding: $padding-xlg $padding-xlg / 2 $padding-xlg 0
		